*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}
body{
    margin: 0;
}
.main_container{
    background-color: #ffffff;
    width: 100%;
    /*margin: 20px auto;*/
    display: flex;
    flex-direction: column;
}
.top{
    background-image: url("/images/MaskGroup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F9FFF2;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-bottom:46px ;
}
.top_menu{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}
.top_menu .icon{
    width: 100px;
    margin-left: 8px;
}
.top_menu>nav.menu{
    flex-wrap: nowrap;
}
.top_menu .menu a{
    font-size: 9px;
    color: #acaeaa;
    margin-right: 7px;

}
.top_menu .menu .button_class{
    background-color: #410ff8;
    padding: 5px 15px;
    margin-left: 15px;
    border-radius: 3px;
    color: #ffffff;
}
.top .center_text{
    width: 30%;
    align-self: center;
    font-size: 10px;
    margin:20px 0px 50px 0;
}
.center_text a{
    color: #52C5B0;
    font-weight: bold;
}
.title{
    font-size: 36px;    
    margin: 15px 0;
    text-align: left;
}
.bottom{
    display: flex;
    justify-content: center;
}
.plan_section{
    border: 1px solid #cecece;
    border-radius: 4px;
    width: 17%;
    margin-right: 5%;
    padding: 15px 15px 25px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 46px;

    /*flex-wrap: wrap;*/
}
.plan_section button{
    width: 100%;
    text-align: center ;
    align-self: center;
}
.bottom .plan_section.last {
    margin-right: 0px;
}
.title2{
    margin-top: 0px;
    font-size: 9px;
    font-weight: bold;
}
.montly{
    font-size: 24px;
    margin: 2px 0px;
}
.annually{
    font-size: 8px;
    color: #acaeaa;
    margin: 6px 0px;
}
.indexing{
    color: #ffffff;
    background-color: #410ff8;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 10px; 
}
.description{
    padding: 0px;
}
.description li{
    list-style: none;
    font-size: 9px;
    line-height: 22px;  
}
.description li>img{
    background-color: #c2b2fd;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 9px;
}
.selected{
    background-color: #410ff8;
    color: #ffffff;
}
.selected button{
    background-color: #ffffff;
    color: #410ff8;
    font-weight: bold;
}
.selected li>img{
    background-color: #ffffff;
}
@media (max-width: 280px){
    .top_menu>nav.menu{
        display: flex;
        margin: 10px auto;
    }
}
@media (max-width: 770px) {
    .bottom{
        flex-direction: column;

    }
    .bottom .plan_section{
        margin: 10px auto;
        width: 80%;
    }
    .bottom .plan_section.last{
        margin: 10px auto ;
    }
    .top>section.center_text{
        width: 50%;
    }
}
@media (max-width: 1024px){
    .plan_section{
        width: 25%;
    }

}